  
* {
  box-sizing: border-box;
  background-color: rgb(187, 185, 185);
  
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img {
display: flex;
flex-direction: column;
border-radius: 2%;
}
